AUTH_SECRET=
ENCRYPTION_KEY=

# Goole
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH=
XATA_API_KEY=

# Printer
PRINTER_API_URL=
PRINTER_API_KEY=

# Etsy
ETSY_API_KEY=
ETSY_SHARED_SECRET=